@import "../../../scss/mixins";
@import "../../../scss/variables";

.container {
  width: 100%;
  margin-top: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperDays {
  .wrapper > h3 {
    margin-bottom: 1rem;
    font-size: $fontSize-s;
  }
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
  row-gap: 2rem;
  column-gap: 2rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
}

.buttonGenerate {
  font-size: $fontSize-s;
  border-radius: 0.5rem;
  position: relative;
  top: 50%;
  color: darken($secondary-color, 30%);
  border: 2px solid darken($secondary-color, 10%);
  &:hover {
    background-color: darken($secondary-color, 10%);
    color: #fff;
  }
  &:active {
    transform: scale(0.98);
  }
}

@media (min-width: $breakpoint-tablet) {
  .wrapperDays .wrapper > h3 {
    font-size: $fontSize-m;
  }

  .buttonGenerate {
    font-size: $fontSize-m;
    // margin-top: 5rem;
  }
}
