@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");
@import "./scss/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $base-font-family;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  &:active,
  &:hover,
  &:visited {
    color: inherit;
  }
}

button {
  background-color: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.bgPrimary {
  background-color: $primary-color;
}

.bgPrimaryLight {
  background-color: lighten($primary-color, 20%);
}
.bgPrimaryDark {
  background-color: darken($primary-color, 10%);
}

.bgSecondary {
  background-color: $secondary-color;
}
.bgSecondaryLight {
  background-color: lighten($secondary-color, 40%);
}

.bgTertiary {
  background-color: $tertiary-color;
}
.bgTertiaryLight {
  background-color: lighten($tertiary-color, 20%);
}
.bgTertiaryDark {
  background-color: darken($tertiary-color, 20%);
}
.bgWhite {
  background-color: #fff;
}
.bgGrey {
  background-color: lighten($darkfont, 60%);
}

.borderPrimary {
  border-color: $primary-color;
}

.borderSecondary {
  border-color: $secondary-color;
}
.borderTertiary {
  border-color: $tertiary-color;
}
.borderGrey {
  border-color: lighten($darkfont, 60%);
}
.borderWhite {
  border-color: #fff;
}

.activeForm {
  transform: translateX(-101%);
}

.buttonDelete {
  background-image: url("./assets/close.png");
}
.buttonAdd {
  background-image: url("./assets/add.png");
}
.buttonEdit {
  background-image: url("./assets/edit-button.png");
}
.buttonPrint {
  background-image: url("./assets/printer.png");
}
.buttonEmail {
  background-image: url("./assets/email.png");
}
.buttonChecked {
  background-image: url("./assets/checked.png");
}

.btn20 {
  width: 20px;
  height: 20px;
}

.btn30 {
  width: 30px;
  height: 30px;
}
.btn40 {
  width: 40px;
  height: 40px;
}

.lineTopOpen {
  transform: rotate(45deg);
  transform-origin: top left;
}
.lineMiddleOpen {
  opacity: 0;
  transform: translateX(-16px);
}
.lineBottomOpen {
  transform: translateX(-1px) rotate(-45deg);
  transform-origin: top left;
}
