@import "../../../scss/variables";
.container {
  padding: 30px;
  width: 300px;
  min-height: 200px;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: lighten($tertiary-color, 10%);
  border-radius: 20px;
  border: 2px solid darken($tertiary-color, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px $grey300;
  h3 {
    text-align: center;
  }
  label {
    font-size: $fontSize-s;
  }
  .input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    border: 1px solid darken($tertiary-color, 10%);
    padding: 5px;
  }
  .select {
    width: 50px;
    background-color: #fff;
    border: 1px solid darken($tertiary-color, 10%);
  }
}

.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: $darkfont;
  border: 1px solid darken($tertiary-color, 10%);
}

.btnDelete {
  position: absolute;
  top: 20px;
  right: 20px;
}
