@import "../../../scss/variables";
.wrapper {
  position: absolute;
  bottom: 18rem;
  z-index: 2;
  width: 100%;
  padding: 2rem;
  background-color: $primary-color;
  border-radius: 2rem;
  border: 2px solid darken($primary-color, 10%);
  box-shadow: 0.5rem 0.5rem 1rem 1rem $grey300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.datePicker {
  background-color: lighten($primary-color, 30%);
  input[type="number"] {
    border: none;
    border-radius: 0;
    padding: 1rem;
    background-color: transparent;
    height: 2rem;
  }
}
.calendar {
  border: 1px solid $primary-color;
  transform: translate(-5%, 10%);
  &:first-child {
    background-color: white;
  }
}
.heading {
  font-size: $fontSize-m;
}

.heading,
.paragraph {
  margin-bottom: 1rem;
  text-align: center;
}

.select {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: $fontSize-m;
  border: none;
  border-radius: 0.5rem;
  appearance: none;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #fff;
  color: $darkfont;
  font-weight: $light;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $breakpoint-tablet) {
  .wrapper {
    width: 35rem;
    left: 50%;
    bottom: 10rem;
    transform: translate(-50%, -50%);
  }
}
