@import "../../scss/variables";

.container {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  padding: 2rem;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;

  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  scrollbar-color: $tertiary-color transparent;

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
  }
  &::-webkit-scrollbar-track {
    background-color: $grey100;
  }
}

.heading {
  font-size: $fontSize-l;
  color: $darkfont;
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  height: 8rem;
  width: 5rem;
  background-image: url("../../assets/carrotGreen.png");
  background-size: contain;
  transform: rotate(30deg);
}
.heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  height: 8rem;
  width: 5rem;
  background-image: url("../../assets/carrotOrange.png");
  background-size: contain;
  transform: rotate(300deg);
}

.close {
  margin-bottom: 2rem;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    padding: 2rem 5rem;
  }
  .heading {
    font-size: $fontSize-xl;
  }
  .heading::after {
    top: 0;
    right: 20%;
    height: 8rem;
    width: 5rem;
  }
  .heading::before {
    top: 0;
    left: 20%;
    height: 80px;
    width: 50px;
  }
}
@media (min-width: $breakpoint-desktop) {
  .container {
    width: 60vw;
    height: 100%;
    top: 2rem;
    right: -61vw;
    padding: 2rem 5rem;
    border: 2px solid $tertiary-color;
    box-shadow: 3px 0 10px 0 darken($tertiary-color, 50%);
  }
  .close {
    margin-bottom: 6rem;
  }
}
