@import "../../../scss/mixins";
@import "../../../scss/variables";

.container {
  @include flex-vertical-center;
  width: 200px;
  height: 100%;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  background-color: transparent;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;

  .link {
    display: block;
    padding: 10px 0;
    margin-right: 10px;
  }
}

.logout {
  margin: 0 auto;
}
