@import "../../utilities/scss/mixins";
@import "../../utilities/scss/variables";

.container {
  @include flex-vertical-center;
  width: 25rem;
  height: 40rem;
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 1px solid $primary-color;
  border-radius: 10px;
}

.wrapper {
  @include flex-vertical-center;
}

.heading {
  width: 90%;
  text-align: center;
  font-size: $fontSize-s;
  font-weight: $bold;
  color: $darkfont;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin: 1rem auto;
}

.image {
  width: 25rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  margin-top: 20px;
  align-self: center;
  border: 1px solid $primary-color;
  border-radius: 50%;
}
.containerSmall {
  height: 8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  .heading {
    margin: 0;
  }
  p {
    font-weight: $light;
    font-size: $fontSize-xs;
    text-decoration: underline;
  }
  .button {
    margin-top: 0;
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: 30rem;
    padding: 2rem 1rem;
  }

  .heading {
    font-size: $fontSize-s;
    height: 5rem;
  }
  .image {
    width: 30rem;
  }
  .containerSmall {
    height: 8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .heading {
      margin: 0;
      font-size: $fontSize-s;
    }
    p {
      font-weight: $light;
      font-size: $fontSize-xs;
      text-decoration: underline;
    }
    .button {
      margin-top: 0;
      width: 5rem;
      height: 5rem;
    }
  }
}
