@import "../../../scss//mixins";
@import "../../../scss//variables";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  color: $darkfont;
  background-color: #fff;
  margin: 1rem;
}
.header {
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  background-blend-mode: saturation;

  .headerVisible {
    background-color: rgba($color: #fff, $alpha: 0.7);
    padding: 1rem 0;
    border-radius: 1rem 1rem 0 0;
    .heading {
      padding: 0 2rem;
      text-align: center;
      font-size: $fontSize-l;
    }
    .extraInfo {
      font-weight: $semi-bold;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      font-size: $fontSize-xs;
      & > ul > li {
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}
h2 {
  margin-bottom: 10px;
  font-size: $fontSize-s;
}
.horLine {
  width: 100%;
  border-bottom: 1px solid $grey300;
}

.ingredients {
  margin: 30px 0;
  ul > li {
    font-size: $fontSize-xs;
    & > span {
      margin-left: 1rem;
    }
  }
}

.preparationWrapper {
  padding: 20px 0;

  p {
    margin: 10px 0;
    text-align: justify;
  }
  ul > li {
    font-size: $fontSize-xs;
  }
}

.addInfo {
  padding: 20px 0;
  text-align: justify;
  font-size: $fontSize-xs;
  h3 {
    margin: 10px 0;
  }
}

.buttons {
  align-self: center;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .btn {
    margin: 1rem;
    position: relative;
    border: none;
    border-radius: 3rem;
    width: 12rem;
    height: 4rem;
    font-size: $fontSize-s;
  }
  .btnSecondary {
    box-shadow: 0 6px darken($secondary-color, 10%);
    &:hover {
      box-shadow: 0 4px darken($secondary-color, 10%);
      top: 3px;
    }
    &:active {
      box-shadow: 0 0 darken($secondary-color, 10%);
      top: 6px;
    }
  }
  .btnPrimary {
    box-shadow: 0 6px darken($primary-color, 10%);
    &:hover {
      box-shadow: 0 4px darken($primary-color, 10%);
      top: 3px;
    }
    &:active {
      box-shadow: 0 0 darken($primary-color, 10%);
      top: 6px;
    }
  }
  .btnGrey {
    box-shadow: 0 6px darken($grey200, 10%);
    &:hover {
      box-shadow: 0 4px darken($grey200, 10%);
      top: 3px;
    }
    &:active {
      box-shadow: 0 0 darken($grey200, 10%);
      top: 6px;
    }
  }
}
.delete {
  bottom: 20rem;
}

.btnPrint {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}
@media (min-width: $breakpoint-tablet) {
  .buttons {
    justify-content: center;
  }
  .delete {
    left: 50%;
    bottom: 10rem;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    margin: 1rem 10rem;
    // padding: 2rem 5rem;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $primary-color;
      border-radius: 10px;
      z-index: -1;
      border-radius: 10px;
    }
    .horLine {
      width: 50%;
      transform: translateX(50%);
    }
  }
  .header .headerVisible {
    .heading {
      font-size: $fontSize-xl;
    }
    .extraInfo {
      font-weight: 400;
      font-size: $fontSize-s;
    }
  }
  .recepie {
    padding: 0 5rem;
  }

  h2 {
    font-size: $fontSize-l;
  }
  .extraInfo {
    font-size: $fontSize-s;
  }
  .btnPrint {
    top: 20px;
    right: 50px;
    width: 30px;
    height: 30px;
  }
  .ingredients {
    ul > li {
      font-size: $fontSize-s;
      & > span {
        margin-left: 1rem;
      }
    }
  }
  .preparationWrapper {
    ul > li {
      font-size: $fontSize-s;
    }
  }
  .addInfo {
    & > p {
      font-size: $fontSize-s;
    }
  }
  .buttons {
    margin: 5rem 0;
    .btn {
      width: 15rem;
      height: 5rem;
      margin: 1rem 2rem;
    }
  }
}
