@import "../../../scss/variables";

.container {
  padding: 3rem;
  width: 100%;
  min-height: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  border: 1px solid $darkfont;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem $grey300;
  h3 {
    text-align: center;
  }
}
.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: 30rem;
  }
}
