@import "../../scss/mixins";
@import "../../scss/variables";

.wrapper {
  @include flex-vertical-center;
  height: 100%;
  width: 100%;
}

.heading {
  @include mobile-page-heading;
}

.buttons {
  margin-top: 1.5rem;
  @include flex-horizontal;
  flex-wrap: wrap;
  padding: 1rem;
}

.button {
  font-size: $fontSize-s;
  width: 9rem;
  height: 5rem;
  margin: 0.5rem 0;
  position: relative;
  border: none;
  border-radius: 3rem;
  box-shadow: 0 6px darken($primary-color, 10%);

  &:hover {
    box-shadow: 0 4px darken($primary-color, 10%);
    top: 3px;
  }
  &:active {
    box-shadow: 0 0 darken($primary-color, 10%);
    top: 6px;
  }
}

.buttonWrapper {
  @include button-icon-position-mobile;
}

.buttonAdd {
  @include button-hover-move-down;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.search {
  background-color: #fff;
  border: 1px solid $primary-color;
  font-size: $fontSize-s;
  margin-bottom: 1rem;
}

.classActiveBtn {
  box-shadow: none;
  background-color: darken($primary-color, 10%);

  &:hover {
    box-shadow: none;
    top: 0;
  }
  &:active {
    box-shadow: none;
    top: 0;
  }
}

.quickAdd {
  top: 50vh;
}

@media (min-width: $breakpoint-tablet) {
  .heading {
    font-size: $fontSize-xl;
  }
  .buttons {
    margin-top: 3rem;
    @include flex-horizontal;
    flex-wrap: wrap;
    padding: 1rem 3rem;
  }
  .button {
    width: 18rem;
    height: 6rem;
    font-size: $fontSize-m;
    margin-left: 2rem;
    border-radius: 3rem;
  }
  .buttonWrapper {
    right: 5rem;
    top: 12rem;
  }
  .search {
    font-size: $fontSize-m;
    margin-bottom: 2rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .buttonWrapper {
    right: 5rem;
    top: 5rem;
  }
}
