@import "../../../scss/variables";

.form {
  padding-bottom: 1rem;
  & > select {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: $fontSize-m;
    border: none;
    border-radius: 0.5rem;
    background-color: lighten($secondary-color, 30%);
    appearance: none;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .datePicker {
    background-color: lighten($secondary-color, 30%);
    input[type="number"] {
      border: none;
      border-radius: 0;
      padding: 1rem;
      background-color: transparent;
      height: 2rem;
    }
  }
  .calendar {
    border: 1px solid $secondary-color;
    &:first-child {
      background-color: white;
    }
  }
  .displayDay {
    margin-top: 1rem;
    color: $secondary-color;
    font-weight: $semi-bold;
  }

  & > option {
    background-color: white;
  }
  & > select[name="recepie"] {
    margin-top: 2rem;
  }
}
.label,
.heading {
  display: block;
  font-size: $fontSize-s;
  font-weight: $light;
  margin: 5rem 0 2rem 0;
}

.meals {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
}

.button {
  margin: 1.5rem auto;
  position: relative;
}
.button:hover {
  top: 0.3rem;
}

.button:active {
  top: 0.6rem;
}

.recepies {
  padding: 3rem;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid $secondary-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem $grey300;
}

.search {
  background-color: $grey100;
  width: 100%;
  border: none;
  width: 30rem;
  font-size: $fontSize-s;
}

.list {
  width: 100%;
  overflow: auto;
}

.listItem {
  list-style-type: none;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid $grey100;
}

@media (min-width: $breakpoint-tablet) {
  .label,
  .heading {
    font-size: $fontSize-m;
    margin: 2rem 0 1rem 0;
  }
}
