$breakpoint-tablet: 620px;
$breakpoint-desktop: 1260px;
$base-font-family: "Montserrat", sans-serif;

$fontSize-xs: 1.2rem;
$fontSize-s: 1.6rem;
$fontSize-m: 2rem;
$fontSize-l: 2.4rem;
$fontSize-xl: 4rem;

$light: 300;
$semi-bold: 600;
$bold: 800;

//colors
$primary-color: #d4b1b1;
$secondary-color: #f2b015;
$tertiary-color: #a8e1b4;
$darkfont: #3a2e2e;
$grey400: #707070;
$grey300: #bebaba;
$grey200: #d1cbcb;
$grey100: #eeeeee;
